{% extends 'main.html' %}

{% block content %}

<h1>Add a new Employee</h1>

<div>
    <form method="post" id="EmployeeForm" data-roles-url="{% url 'ajax_load_roles' %}" role="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_department").change(function () {
        const url = $("#EmployeeForm").attr("data-roles-url");  // get the url of the `load_roles` view
        const departmentId = $(this).val();  // get the selected department ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /members/ajax/load-roles/ )
            data: {
                'department_id': departmentId       // GET parameters
            },
            success: function (data) {
                $("#id_role").html(data);
            }
        });

    });
</script>

{% endblock %}