{% extends 'main.html' %}

{% block content %}

<h1>Home template</h1>

<table>
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Date of joining</th>
            <th>Department</th>
            <th>Designation</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zipcode</th>
            <th>No of leaves</th>
            <th>Leave/Working</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {% for emp in employees %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.dob}}</td>
            <td>{{emp.doj}}</td>
            <td>{{emp.dept}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.city}}</td>
            <td>{{emp.state}}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.zipcode}}</td>
            <td>{{emp.leave_count}}</td>
            <td>YES</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}