{% extends 'main.html' %}

{% block content %}

<h1>Employees list</h1>
<h3>Employees {{employees_count}}</h3>
<a href="{% url 'add' %}">Add a new employee</a>

{% if employees %}
<div class="table-responsive text-center">
    <table class="table table-bordered table-sm align-middle" id="employee-list-table">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Date of joining</th>
                <th>Department</th>
                <th>Designation</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>No of leaves</th>
                <th>Leave/Working</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.dob}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.role}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.state}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.zipcode}}</td>
                <td>{{emp.leaves}}</td>
                <td>
                    {% if emp.on_leave %}
                    <a href="{% url 'leave' emp.id %}">On leave</a>
                    {% else %}
                    <a href="{% url 'leave' emp.id %}">At work</a>
                    {% endif %}
                </td>
                <td>
                    {% if emp.active %}
                    <span>Active</span>
                    {% else %}
                    <span>Inactive</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'update' emp.id %}">Edit</a>
                    <a href="{% url 'delete' emp.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% else %}
<h3>No employees to show!</h3>

{% endif %}

{% endblock %}